.item {
    color: #333;
    background: #eeeeee;
    padding: 50px 40px;
}
.item h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.background_view {
    background: #0c91e5;
    color: white;
    border: 3px solid #fff;
}

.background_view h4 {
    font-size: 20px;
    font-weight: 700;
}

.background_view p {
    font-size: 15px;
}