/*#sidebar-form {
    background: white;
    padding: 20px;
    float: right;
    overflow: auto;
}*/


.popover-select-wrapper {
    margin-top: 10px;
}

.popover-select-list li{
    background: #00A6C7;
    color: white;
}

.popover-select-list li:hover{
    background: #00a65a;
    color: white;
}

.popover-tag-wrapper .tag {
    background: #00a65a;
    color: white;
}

.popover-tag-wrapper .tag:hover {
    background: #00A6C7;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sortable-ghost {
    opacity: .2;
}

#foo .sortable-drag {
    background: #daf4ff;
}

.title {
    color: #fff;
    padding: 9px 14px;
    display: inline-block;
    position: relative;
    font-weight: 700;
    background-color: #00A6C7;
    z-index: 1000;
}
.title_xl {
    padding: 3px 15px;
    font-size: 40px;
}

.tile {
    width: 22%;
    min-width: 245px;
    color: #FF7270;
    padding: 10px 30px;
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 30px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
}
.tile__name {
    cursor: move;
    padding-bottom: 10px;
    border-bottom: 1px solid #FF7373;
}

.tile__list {
    margin-top: 10px;
}
.tile__list:last-child {
    margin-right: 0;
    min-height: 80px;
}

.tile__list img {
    cursor: move;
    margin: 10px;
    border-radius: 100%;
}

.block {
    opacity: 1;
}
.block__list {
    margin-top: -8px;
    background-color: #fff;
}

.block__list-title {
    margin: -20px 0 0;
    padding: 10px;
    text-align: center;
    background: #5F9EDF;
}

.block__list li {
    cursor: move;
    margin-bottom: 5px;
    margin-top: 5px;
}

.block__list_words li {
    background-color: #5F9EDF;
    color: white;
    padding: 10px 10px;
}
.block__list_words .sortable-ghost {
    opacity: 0.4;
    background-color: #F4E2C9;
}

.block__list_words li:first-letter {
    text-transform: uppercase;
}

.block__list_tags {
    padding: 10px;
}

.block__list_tags:after {
    clear: both;
    content: '';
    display: block;
}
.block__list_tags li {
    color: #fff;
    float: left;
    margin: 8px 20px 10px 0;
    padding: 5px 10px;
    min-width: 10px;
    background-color: #5F9EDF;
    text-align: center;
}
.block__list_tags li:first-child:first-letter {
    text-transform: uppercase;
}

ul#submodel {
    min-height: 150px;
}

#submodel li {
    position: relative;
}

#submodel li i {
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    cursor: pointer;
    color: #fff;
    font-style: normal;
}

#submodel li:hover i {
    margin-left: 8px;
    opacity: 1;
}

.addedItem {
    padding: 10px 10px !important;
}

#details li {
    cursor: auto;
    padding: 15px;
    font-weight: bold;
    background: #00A6C7;
}

li.addedItem:hover {
    transform: scale(1.1);
    border-radius: 5px;

    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}



@media (min-width: 750px) and (max-width: 970px){
    .submodel-container {
        width: 100%;
        min-width: 750px;
    }
}